.forgot-password-form{
    margin-top: -65px;
    min-width: 400px;
    min-height: 200px;
    background-color: #fffceb;
}

.forgot-password-title{
    text-align: center;
    font-family: myfont;
    font-size: 84.5px;
}

@font-face {
    font-family: myfont;
    src: url('../fonts/symphony-pro-regular.otf');
}

::placeholder{
    font-style: italic;
}

.username-field, .password-field, .repassword-field,
.fullname-field, .email-field, .phone-field, .otp-field
{
    font-family: 'Dejavu Serif';
    font-size: 20px;
    width: 100%;
    background-color: #fffceb;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

.forgot-password-btn, .forgot-password-btn:hover{
    background-color: transparent;
    border: none;
    font-family: 'Dejavu Serif';
    font-size: 18px;
    padding: 0px;
}
.forgot-password-btn:hover{
    text-decoration: underline;
}